[project]
name = "onestep"
version = "0.5.0"
description = "仅需一步，轻松实现分布式异步任务。"
authors = [
    { name = "miclon", email = "jcnd@163.com" }
]
readme = "README.md"
requires-python = ">=3.8"
license = { text = "MIT" }
keywords = ["async", "task", "distributed", "queue"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

dependencies = [
    "asgiref>=3.6.0",
    "blinker>=1.5",
    "croniter>=1.3.8",
    "use-rabbitmq>=0.2.1",
]

[project.optional-dependencies]
redis = ["use-redis>=0.1.6"]
dev = [
    "nacos-sdk-python>=0.1.12",
    "redis>=4.5.1",
    "autopep8>=2.0.2",
    "loguru>=0.6.0",
    "use-redis>=0.1.92",
]
test = [
    "pytest>=7.2.2",
    "redis>=4.5.1",
    "httpx>=0.23.3",
]
sqs = [
    "use-sqs>=0.1.0",
]
mysql = [
    "use-mysql>=0.0.4",
]

[project.scripts]
onestep = "onestep.cli:main"

[tool.uv]
dev-dependencies = [
    "nacos-sdk-python>=0.1.12",
    "redis>=4.5.1",
    "autopep8>=2.0.2",
    "loguru>=0.6.0",
    "use-redis>=0.1.92",
    "pytest>=7.2.2",
    "httpx>=0.23.3",
    "use-mysql>=0.0.4",
]

[tool.ruff]
ignore = [
    "E501", # line too long, handled by black
]

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/onestep"]

# [[tool.uv.index]]
# name = "aliyun"
# url = "https://mirrors.aliyun.com/pypi/simple/"
# default = true
