[tool.poetry]
name = "onestep"
version = "0.3.3a1"
description = ""
authors = ["miclon <jcnd@163.com>"]
readme = "README.md"
packages = [
    { include = 'onestep', from = 'src' }
]

[tool.poetry.dependencies]
python = "^3.8"
asgiref = "^3.6.0"
blinker = "^1.5"
croniter = "^1.3.8"
usepy-plugin-rabbitmq = "^0.1.0"
usepy-plugin-redis = "^0.1.5"

[tool.poetry.group.dev.dependencies]
nacos-sdk-python = "^0.1.12"
redis = "^4.5.1"
autopep8 = "^2.0.2"
loguru = "^0.6.0"


[tool.poetry.group.test.dependencies]
pytest = "^7.2.2"
amqpstorm = "^2.10.6"
redis = "^4.5.1"
httpx = "^0.23.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

